<div class="form-container flex justify-content-center pt-4">
  <form
    [formGroup]="passwordForm"
    class="flex flex-column gap-2"
    (ngSubmit)="submittingData()"
  >
    <input
      type="text"
      [value]="username"
      autocomplete="username"
      [hidden]="true"
    />

    <div class="field">
      <span class="p-float-label">
        <p-password
          id="current-password"
          formControlName="currentPassword"
          [feedback]="false"
          [toggleMask]="true"
          autocomplete="current-password"
        ></p-password>
        <label for="current-password">Current Password</label>
      </span>
    </div>

    <div class="field">
      <span class="p-float-label">
        <p-password
          id="new-password"
          formControlName="newPassword"
          promptLabel="Choose a new password"
          weakLabel="Too simple"
          mediumLabel="Average complexity"
          strongLabel="Complex password"
          [toggleMask]="true"
          autocomplete="new-password"
        ></p-password>
        <label for="new-password">New Password</label>
      </span>
    </div>

    <div class="field">
      <span class="p-float-label">
        <p-password
          id="confirm-password"
          formControlName="confirmNewPassword"
          promptLabel="Confirm new password"
          [feedback]="false"
          [toggleMask]="true"
          autocomplete="new-password"
        ></p-password>
        <label for="confirm-password">Confirm Password</label>
      </span>

      @if (confirmNewPassword.invalid && (confirmNewPassword.dirty ||
      confirmNewPassword.touched)) {
      <small class="block p-error">
        @if (confirmNewPassword.errors?.['required']) {
        <div>Confirmation of password is required</div>
        }
      </small>
      } @if (passwordForm.errors?.['passwordMismatch'] &&
      confirmNewPassword.valid && newPassword.valid) {
      <small class="block p-error"> Password should match </small>
      }
    </div>

    <div class="flex justify-content-between">
      <div>
        <p-button
          type="submit"
          label="Save"
          icon="pi pi-check"
          [disabled]="isButtonDisabled"
        ></p-button>
      </div>

      <div>
        <p-button
          styleClass="p-button-outlined"
          type="button"
          label="Cancel"
          icon="pi pi-times"
          (click)="cancel()"
        ></p-button>
      </div>
    </div>
  </form>
</div>

@if (confirmDialogInputData) {
<app-confirmation-cancellation-dialog
  [data]="confirmDialogInputData"
  (response)="saveChanges($event)"
></app-confirmation-cancellation-dialog
>}
